h1 {
  margin: 50px 0 20px 0;
}

div.clickable {
  padding: 5px;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
}

.back {
  display: none;
}

.clickable {
  cursor: pointer;
}
